<div class="download-center">
  <header>
    <img class="download-center_logo" src="/assets/img/doctor.png" alt="logo">
    <h1>Dear Doctor</h1>
    <h3>You will be able to download the following contents according to your preferences</h3>
    <div class="download-center_brand">
      <div class="brand">
        <img class="brand_eucerin-logo" src="/assets/img/eucerin-logo.png" alt="eucerin-logo">
        <div class="brand_info">
          <span
            [ngClass]="{'brand_info__selected': !!selectedIndexes.includes(0)}"
            (click)="toggleSelected(0)"
          >
            Eucerin Product guide 2021
          </span>
        </div>
      </div>
      <div class="brand">
        <img class="brand_unna-logo" src="/assets/img/unna-academy.png" alt="unna-logo">
        <div class="brand_info">
          <span
            class="brand_unno"
            [ngClass]="{'brand_info__selected': !!selectedIndexes.includes(1)}"
            (click)="toggleSelected(1)"
          >
            Unna training catalogue 2021
          </span>
          <span
            [ngClass]="{'brand_info__selected': !!selectedIndexes.includes(2)}"
            (click)="toggleSelected(2)"
          >
            Unna Academy brochure
          </span>
        </div>
      </div>
    </div>
  </header>
  <div class="information-title">
    <div class="information-title_text">Scientific information clinical studies</div>
    <div class="information-title_line"></div>
  </div>
  <section>
    <div
        class="download-center_file"
        *ngFor="let file of informationList; let i = index"
        [ngClass]="{'download-center_file__selected': !!selectedIndexes.includes(i + (headerList || []).length)}"
        (click)="toggleSelected(i + (headerList || []).length)"
    >
      {{ file.name }}
    </div>

  </section>
  <button
      class="download-center_download-btn"
      type="submit"
      [ngClass]="{'download-center_download-btn__disabled': !(selectedIndexes || []).length}"
      [disabled]="!(selectedIndexes || []).length"
      (click)="downloadSelected()"
  >Download</button>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>
