.download-center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  * {
    font-family: 'Eucerina WGL', serif;
    color: rgb(38, 47, 54);
  }

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-weight: 600;
      font-size: 1.7vh;
    }

    > h3 {
      font-weight: 600;
      font-size: 1.3vh;
    }
  }

  &_logo {
    height: auto;
    width: 100%;
    max-width: 60vh;
  }

  &_brand {
    display: flex;
    width: 100%;
    margin: 3vh 0;

    .brand {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 8vh;
      width: 50%;

      @media screen and (orientation:landscape) {
        height: 10vh;
      }

      &_eucerin-logo {
        width: 10.5vw;
        min-width: 70px;
        max-width: 15vh;
        height: auto;
      }

      &_unna-logo {
        width: 24vw;
        min-width: 150px;
        max-width: 25vh;
        height: auto;
      }

      &_info {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.4vh;

        > span {
          padding: 5px;
          border: 2px solid transparent;
          cursor: pointer;
          user-select: none;
        }

        &__selected {
          border-color: rgb(180, 43, 82)!important;
        }
      }

      &_unno {
        margin-right: 3vw;
      }
    }
  }

  .information-title {
    position: relative;

    &_text {
      width: 220px;
      text-transform: uppercase;
      font-weight: 600 !important;
      margin: 2vh auto;
      text-align: center;
      background-color: #fff;
      z-index: 1;
      position: relative;
    }

    &_line {
      position: absolute;
      height: 2px;
      left: 2vw;
      right: 2vw;
      top: 50%;
      background-image: linear-gradient(to right, rgba(207, 207, 207,1), rgba(207, 207, 207, 0), rgba(207, 207, 207, 1));
    }
  }

  > section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 2vh;
  }

  &_file {
    height: min-content;
    width: calc(50% - 4vw);
    box-sizing: border-box;
    margin: 0 2vw;
    padding: 1vh;
    font-size: 1.25vh;
    border: 2px solid transparent;
    cursor: pointer;
    user-select: none;

    @media only screen and (max-width: 480px) {
      padding: 0.5vh;
    }

    &__selected {
      border-color: rgb(180, 43, 82);
    }

    @media screen and (orientation:landscape) {
      font-size: 2vh;
    }
  }

  &_download-btn {
    width: min-content;
    margin: auto auto 2.5vh;
    padding: 0.4vh 1.8vh;
    font-size: 1.6vh;
    color: #fff!important;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #a9092d;

    &__disabled {
      cursor: default;
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 768px) {
  .download-center {
    &_logo {
      height: 20vh;
      object-fit: cover;
    }
  }
}

//height: auto;
//width: 100%;
//          max-width: 60vh;

@font-face {
  font-family: 'Eucerina WGL';
  src: url('/assets/fonts/EucerinaWGL-Regular.otf');
  src: url('/assets/fonts/EucerinaWGL-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/EucerinaWGL-Regular.woff2') format('woff2'),
  url('/assets/fonts/EucerinaWGL-Regular.woff') format('woff'),
  url('/assets/fonts/EucerinaWGL-Regular.ttf') format('truetype'),
  url('/assets/fonts/EucerinaWGL-Regular.svg#EucerinaWGL-Regular') format('svg');
}
