$dt-text: rgba(42, 55, 66, 0.8);

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Eucerina WGL', serif;

  &_logo {
    width: 20vh;
    min-width: 16vw;
    margin-top: 6.5vh;
  }

  &_dear-text,
  &_thank-text {
    font-size: 3.6vh;
    text-transform: uppercase;
    font-weight: 900;
    color: $dt-text;
    text-align: center;
    text-shadow: 1px 0 $dt-text;
  }

  &_dear-text {
    margin: auto 0 0;
  }

  &_thank-text {
    margin: 3vh 0 45vh;
  }
}

@font-face {
  font-family: 'Eucerina WGL';
  src: url('/assets/fonts/EucerinaWGL-Regular.otf');
  src: url('/assets/fonts/EucerinaWGL-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/EucerinaWGL-Regular.woff2') format('woff2'),
  url('/assets/fonts/EucerinaWGL-Regular.woff') format('woff'),
  url('/assets/fonts/EucerinaWGL-Regular.ttf') format('truetype'),
  url('/assets/fonts/EucerinaWGL-Regular.svg#EucerinaWGL-Regular') format('svg');
}
