$dt-text: rgba(42, 55, 66, 0.8);

.survey {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  font-family: 'Eucerina WGL', serif;
  color: $dt-text;

  &_logo {
    width: 19vh;
    min-width: 100px;
    margin-top: 1vh;
  }

  &_info {
    margin: 2.8vh 0;
    padding: 0 4vw;
    text-align: center;
    font-size: 2.9vh;
    font-weight: 600;
  }

  &_requirements {
    margin: 1vh 0 2.8vh;
    padding: 0 4vw;
    font-size: 2.7vh;
    font-weight: 600;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    text-align: center;
  }

  &_question {
    padding: 4.5vh 9vw 3vh;
    line-height: 4.2vh;
    text-align: center;
    font-size: 2.95vh;
    color: #fff;
    letter-spacing: 0.07vw;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 82%;
    margin: 5vh 0;
  }

  &_answer {
    font-size: 2.6vh;
    font-weight: 600;
    user-select: none;
    cursor: pointer;

    &__other {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      > span {
        min-width: fit-content;
      }

      > input {
        width: 100%;
        margin: 0 2.5vw 0 1vw;
        border: none;
        border-bottom: 2px solid $dt-text;
        outline: none;
        font-size: 2.3vh;
        color: $dt-text;
        font-weight: 600;
      }
    }

    &__selected {
      text-shadow: 1px 0 $dt-text;
    }
  }

  &_submit {
    margin: auto 0 3vh;
    padding: 1.3vh 2.8vh;
    font-size: 2.9vh;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    &__disabled {
      cursor: default;
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 768px) {
  .survey {

    &_logo {
      width: 130px;
    }

    &_info {
      font-size: 2.6vh;
    }

    &_requirements {
      font-size: 2.4vh;
    }

    &_question {
      line-height: 3.4vh;
      text-align: center;
      font-size: 2.7vh;
      color: #fff;
      letter-spacing: 0.07vw;
    }

    &_answer {
      font-size: 2.4vh;
    }

    &_submit {
      margin: auto 0 2.5vh;
      padding: 1.1vh 2.4vh;
      font-size: 2.7vh;
    }
  }
}

@media only screen and (max-width: 480px) {
  .survey {

    &_logo {
      width: 100px;
    }

    &_info {
      font-size: 2.4vh;
    }

    &_requirements {
      font-size: 2.2vh;
    }

    &_question {
      line-height: 3.2vh;
      text-align: center;
      font-size: 2.5vh;
      color: #fff;
      letter-spacing: 0.07vw;
    }

    &_answer {
      font-size: 2.2vh;
    }

    &_submit {
      margin: auto 0 2.3vh;
      padding: 1.1vh 2.4vh;
      font-size: 2.5vh;
    }
  }
}

@font-face {
  font-family: 'Eucerina WGL';
  src: url('/assets/fonts/EucerinaWGL-Regular.otf');
  src: url('/assets/fonts/EucerinaWGL-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/EucerinaWGL-Regular.woff2') format('woff2'),
  url('/assets/fonts/EucerinaWGL-Regular.woff') format('woff'),
  url('/assets/fonts/EucerinaWGL-Regular.ttf') format('truetype'),
  url('/assets/fonts/EucerinaWGL-Regular.svg#EucerinaWGL-Regular') format('svg');
}
