<div class="survey">
  <img class="survey_logo" src="/assets/img/eucerin-logo.png" alt="logo">
  <p class="survey_info">Dear Dermatologist, your feedback is highly valuable for the life-change of your patients</p>
  <p class="survey_requirements">Please select the statement according to your preference</p>
  <div
    [innerHTML]="question"
    [style.backgroundColor]="color"
    class="survey_question"
  ></div>
  <form [formGroup]="surveyForm">
    <div
      *ngFor="let answer of answers; let i = index"
      [ngClass]="{'survey_answer__selected': answer === surveyForm.get('selected').value}"
      (click)="setAnswer(answer)"
      class="survey_answer"
    >
      <span>{{ symbols[i] }}) </span>
      <span>{{ answer }}</span>
    </div>
    <ng-container *ngIf="allowOtherAnswer">
      <div
        [ngClass]="{'survey_answer__selected': 'Other' === surveyForm.get('selected').value}"
        (click)="setAnswer('Other')"
        class="survey_answer survey_answer__other"
      >
        <span>e) Other:</span>
        <input aria-label="custom-answer" formControlName="custom">
      </div>
    </ng-container>
  </form>
  <button
    class="survey_submit"
    type="submit"
    (click)="submit()"
    [style.backgroundColor]="color"
    [ngClass]="{'survey_submit__disabled': surveyForm.invalid}"
    [disabled]="surveyForm.invalid"
  >Submit</button>
</div>
