<div class="countdown-timer">
  <header>
    <a href="https://int.eucerin.com/" target="_blank">
      <img class="countdown-timer_logo" src="/assets/img/eucerin-logo.png" alt="logo">
    </a>
  </header>

  <section>
    <p>We invite you to the virtual experience of</p>
    <p>the life-changing power</p>
    <p id="coming-soon">Coming soon</p>

    <div class="countdown-timer_counters-container">
      <div class="timer">
        <div class="timer_count">{{ days || '00' }}</div>
        <div class="timer_divider"></div>
        <div class="timer_name">Days</div>
      </div>
      <div class="timer">
        <div class="timer_count">{{ hours || '00' }}</div>
        <div class="timer_divider"></div>
        <div class="timer_name">Hours</div>
      </div>
      <div class="timer">
        <div class="timer_count">{{ minutes || '00' }}</div>
        <div class="timer_divider"></div>
        <div class="timer_name">Minutes</div>
      </div>
      <div class="timer">
        <div class="timer_count">{{ seconds || '00' }}</div>
        <div class="timer_divider"></div>
        <div class="timer_name">Seconds</div>
      </div>
    </div>

  </section>

  <footer>
    <a href="https://www.instagram.com/eucerin_international/" target="_blank">
      <img src="/assets/img/instagram-icon.png" alt="instagram">
    </a>
    <a href="https://int.eucerin.com/" target="_blank">
      <img src="/assets/img/browser-icon.png" alt="browser">
    </a>
  </footer>
</div>
