$dt-text: rgba(42, 55, 66, 0.8);
$dt-bg: rgba(225, 225, 225, 0.45);

.navbar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.55vw;
  padding: 0 5.1vw 0 1.6vw;
  background-color: $dt-bg;
  font-family: 'Eucerina WGL', serif;

  &_logo {
    width: 14.77vw;
  }

  &_primary-btn {
    height: 2.13vw;
    min-width: fit-content;
    //margin-left: 2.6vw;
    margin-bottom: 0.75vw;
    padding: 0 2vw;
    font-size: 1.6vw;
    font-weight: 600;
    letter-spacing: 0.0013vw;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $dt-text;
    color: $dt-text;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    &:hover {
      text-shadow: 1px 0 $dt-text;
      box-shadow: inset 0 0 2px $dt-text;
    }
  }

  &_home-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin: 0 2.8vw 0 6vw;
    padding: 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    color: $dt-text;
    cursor: pointer;

    > span {
      font-size: 0.82vw;
    }

    > img {
      width: 7.8vw;
      margin-bottom: 8px;
    }

    &:hover {
      text-shadow: 1px 0 $dt-text;
    }
  }

  &_expand-btn {
    height: 2.13vw;
    width: 2.13vw;
    min-width: 2.13vw;
    padding: 0;
    //margin-left: 2.1vw;
    margin-bottom: 0.95vw;
    border: none;
    outline: none;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    cursor: pointer;
    background-image: url('/assets/img/show.png');
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      background-image: url('/assets/img/show-hovered.png');
    }
  }
}

.navbar-hidden {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3.2vw;
  padding-right: 5.1vw;
  background-color: $dt-bg;

  &_expand-btn {
    height: 2.13vw;
    width: 2.13vw;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url('/assets/img/show.png');
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      background-image: url('/assets/img/show-hovered.png');
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5.4vh 0;
  background-color: $dt-bg;
  font-family: 'Eucerina WGL', serif;

  &_logo {
    width: 25.4vw;
  }

  > section {
    display: flex;
    flex-wrap: wrap;
    width: 52.3vw;
    min-width: 375px;
  }

  &_navigate {
    flex-grow: 1;
    width: 33%;
    height: 100px;
    margin-bottom: 3.4vh;
  }

  &_navigate-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.7vh auto;
    padding: 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    color: $dt-text;
    cursor: pointer;

    > span {
      font-size: 0.82vw;
    }

    > img {
      width: 6.5vw;
      min-width: 100px;
      margin-bottom: 8px;
    }

    &:hover {
      text-shadow: 1px 0 $dt-text;
    }

    &:last-child {
      margin-bottom: 8vh;
    }
  }

  &_close-btn {
    min-width: fit-content;
    padding: 0.15vw 1.35vw;
    font-size: 1.35vw;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $dt-text;
    color: $dt-text;
    text-transform: uppercase;
    letter-spacing: 0.01vw;
    outline: none;
    cursor: pointer;

    &:hover {
      font-weight: 600;
      box-shadow: inset 0 0 2px $dt-text;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .navbar {
    &_home-btn > span {
      font-size: 12px;
    }
  }

  .menu {
    &_navigate-btn > span {
      font-size: 12px;
    }

    &_close-btn {
      font-size: 18px;
      padding: 3px 20px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    height: 75px;

    &_logo {
      display: none;
    }

    &_primary-btn {
      height: 21px;
      font-size: 16px;
    }

    &_expand-btn {
      width: 21px;
      height: 21px;
      min-width: 21px;
    }
  }

  .navbar-hidden {
    height: 31px;

    &_expand-btn {
      width: 21px;
      height: 21px;
      min-width: 21px;
    }

  }
}

@media only screen and (max-width: 768px) {
  .navbar > * {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0 12px 0 6px;

    &_home-btn {

      > img {
        width: 50px;
      }

      > span {
        font-size: 13px;
      }
    }

    &_primary-btn {
      padding: 0 4px;
      font-size: 14px;
    }
  }

  .navbar-hidden {
    padding-right: 12px;
  }

  .menu {
    &_logo {
      width: 35vh;
    }
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    &_home-btn {
      > span {
        font-size: 10px;
      }
    }

    &_primary-btn {
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .navbar {
    &_primary-btn {
      padding: 0 2px;
      font-size: 9px;
    }
  }

  .menu {
    padding: 3.4vh 0;

    > section {
      min-width: 320px;
    }

    &_navigate {
      margin-bottom: 2.4vh;
    }

    &_navigate-btn {
      > img {
        min-width: 80px;
      }

      > span {
        font-size: 10px;
      }
    }

    &_close-btn {
      font-size: 14px;
    }
  }
}

@font-face {
  font-family: 'Eucerina WGL';
  src: url('/assets/fonts/EucerinaWGL-Regular.otf');
  src: url('/assets/fonts/EucerinaWGL-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/EucerinaWGL-Regular.woff2') format('woff2'),
  url('/assets/fonts/EucerinaWGL-Regular.woff') format('woff'),
  url('/assets/fonts/EucerinaWGL-Regular.ttf') format('truetype'),
  url('/assets/fonts/EucerinaWGL-Regular.svg#EucerinaWGL-Regular') format('svg');
}
